{% extends 'layout.html' %}
{% from "box_macros.html" import box %}

{% block content %}
<h1>Components:</h1>

<table>
  <tr>
    <th>&#160;</th>
    {% for b in builders %}
    <th class="box"><a href="{{ b.link }}">{{ b.name|e }}</a></th>
    {% endfor %}
  </tr>
{% for c in components %}
  <tr>
  <td class="box Component"><a href="console?project={{ c|e }}">{{ c|e }}</a></td>
  {% for b in builders %}
    {% if b.name in results and c in results[b.name] %}
      <td class="LastBuild box {{ results[b.name][c][2] }}">
          <a href="{{ results[b.name][c][1] }}">#{{ results[b.name][c][0] }}</a>
          <br/>{{ results[b.name][c][2] }}
          {% if results[b.name][c][3].hasProperty('coverage-project') %}
            <br/>{{ "cov. %.2f%%, %.2f%%" % (
                results[b.name][c][3].getProperty('coverage-project', 0),
                results[b.name][c][3].getProperty('coverage-class',   0),
            ) }}
          {% endif %}
          {% if results[b.name][c][3].hasProperty('PHPUnit-run') %}
            <br/>{{ "OK: %d, KO: %d, N/A: %d" % (
                results[b.name][c][3].getProperty('PHPUnit-run',        0),
                results[b.name][c][3].getProperty('PHPUnit-Errors',     0) +
                results[b.name][c][3].getProperty('PHPUnit-Failures',   0),
                results[b.name][c][3].getProperty('PHPUnit-Incomplete', 0) +
                results[b.name][c][3].getProperty('PHPUnit-Skipped',    0),
            ) }}
          {% endif %}
      </td>
    {% else %}
      <td class="LastBuild box">no build</td>
    {% endif %}
  {% endfor %}
  </tr>
{% endfor %}
</table>

{% endblock %}
